<app-navbar></app-navbar>
<div class="max-w-md mx-auto">
    <form [formGroup]="modifierForm" (ngSubmit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="commune">
          Commune
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
        [value]="commune"
        id="commune" type="text" placeholder="Commune" formControlName="commune">
      </div>
  
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="rue">
          Rue
        </label>
        <input 
        [value]="rue"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="rue" type="text" placeholder="Rue" formControlName="rue">
      </div>
  
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="cp">
          Code postal
        </label>
        <input 
        [value]="cp"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cp" type="text" placeholder="Code postal" formControlName="cp">
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="nbCouchages">
          Nombre de couchage
        </label>
        <input 
        [value]="nbCouchages"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nbCouchages" type="text" placeholder="Nombre de couchages" formControlName="nbCouchages">
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="nbChambres">
            Nombre de chambres
        </label>
        <input [value]="nbChambres"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nbChambres" type="text" placeholder="Nombre de chambres" formControlName="nbChambres">
      </div>
  
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="distance">
            distance du centre ville
        </label>
        <input 
        [value]="distance"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="distance" type="text" placeholder="distance (m)" formControlName="distance">
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="prix">
            Prix par nuit
        </label>
        <input 
        [value]="prix"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="prix" type="text" placeholder="Prix par nuit" formControlName="prix">
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="imageUrl">
            URL de l'image
        </label>
        <input 
        [value]="imageUrl"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="imageUrl" type="text" placeholder="Url de l'image" formControlName="imageUrl">
      </div>

      <div class="mb-6">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Modifier l'offre
        </button>
      </div>
    </form>
  </div>

